<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>农业大数据智能分析平台</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/unslider-dots.css}" rel="stylesheet"/>
    <link th:href="@{/css/unslider.css}" rel="stylesheet"/>
    <link th:href="@{/css/saved_resource.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/unslider-min.js}"></script>
    <script th:src="@{/js/mouseover.js}"></script>
</head>

<body>

<div class="dsj_container">
    <div class="dsj_nav1 clearfix">
        <div class="dsj_nav1_box" th:include="/fragments/header :: navBar">
        </div>
    </div>
    <div class="dsj_banner">
        <div class="dsj_banner_box">
            <div class="unslider" id="b06">
                <div class="automatic-slider unslider-horizontal" style="position: relative; overflow: hidden;">
                    <ul class="unslider-wrap unslider-carousel velocity-animating"
                        style="width: 400%; left: -113.266%;">
                        <li class="" style="width: 50%;position: relative;">
                            <h6 class="scroll_text1">立足“互联网+农业大数据1</h6>
                            <p class="scroll_text2">农业大数据平台全新上线</p>
                            <img th:src="@{/images/bmp_banner_bg.png}" alt="" class="responsive"/>
                        </li>
                        <li class="" style="width: 50%;position: relative;">
                            <h6 class="scroll_text1">立足“互联网+农业大数据2</h6>
                            <p class="scroll_text2">农业大数据平台全新上线</p>
                            <img th:src="@{/images/bmp_banner_bg.png}" alt="" class="responsive"/>
                        </li>
                        <li class="" style="width: 50%;position: relative;">
                            <h6 class="scroll_text1">立足“互联网+农业大数据3</h6>
                            <p class="scroll_text2">农业大数据平台全新上线</p>
                            <img th:src="@{/images/bmp_banner_bg.png}" alt="" class="responsive"/>
                        </li>
                        <li class="" style="width: 50%;position: relative;">
                            <h6 class="scroll_text1">立足“互联网+农业大数据4</h6>
                            <p class="scroll_text2">农业大数据平台全新上线</p>
                            <img th:src="@{/images/bmp_banner_bg.png}" alt="" class="responsive"/>
                        </li>
                    </ul>
                </div>
                <nav class="unslider-nav">
                    <ol></ol>
                </nav>
                <script>
                    $('.automatic-slider').unslider({
                        autoplay: true
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="dsj_nav2">
        <ul>
            <li>
                <h6 class="text1">PB级数据资源</h6>
                <p class="text2">六大数据资源池</p>
            </li>
            <li>
                <h6 class="text1">精准数据服务</h6>
                <p class="text2">个性化精准推送</p>
            </li>
            <li>
                <h6 class="text1">立分行业领域</h6>
                <p class="text2">针对不同领域要求</p>
            </li>
            <li>
                <h6 class="text1">农业人工智能</h6>
                <p class="text2">智能语音问答</p>
            </li>
            <li>
                <h6 class="text1">海量专家知识资源</h6>
                <p class="text2">实时在线专家服务</p>
            </li>
        </ul>
    </div>

    <!-- 行业应用解决方案 -->
    <div class="dsj_box1">
        <h1 class="dsj_title1">行业应用解决方案</h1>
        <div class="hyyy_jjfa_box">
            <dl class="jjfa_list">
                <dt><img th:src="@{/images/icon_img/icon4_1.png}" alt="" /></dt>
                <dd>
                    <h6>温室设施物联网监控解决方案</h6>
                    <p>云端商业，数据梦想<br/>快速搭建平台，助力电商企业实现</p>
                </dd>
            </dl>
            <dl class="jjfa_list">
                <dt><img th:src="@{/images/icon_img/icon4_2.png}" alt="" /></dt>
                <dd>
                    <h6>大田水肥一体化解决方案</h6>
                    <p>云端商业，数据梦想<br/>快速搭建平台，助力电商企业实现</p>
                </dd>
            </dl>
            <dl class="jjfa_list">
                <dt><img th:src="@{/images/icon_img/icon4_3.png}" alt="" /></dt>
                <dd>
                    <h6>奶牛现代化养殖解决方案</h6>
                    <p>云端商业，数据梦想<br/>快速搭建平台，助力电商企业实现</p>
                </dd>
            </dl>
            <dl class="jjfa_list">
                <dt><img th:src="@{/images/icon_img/icon4_4.png}" alt="" /></dt>
                <dd>
                    <h6>林业智能化节水灌溉解决方案</h6>
                    <p>云端商业，数据梦想<br/>快速搭建平台，助力电商企业实现</p>
                </dd>
            </dl>
        </div>
    </div>

    <!-- 大数据云服务中心分布 -->
    <div class="dsj_box5">
        <h1 class="dsj_title1">大数据云服务中心分布</h1>
        <div class="ffzx_box">
            <div class="ffzx_box_content">
                <div class="ffzx_left">
                    <img th:src="@{/images/map_img1.png}" alt="" />
                </div>
                <div class="ffzx_right">
                    <div class="ffzx_text1">
                        <h6 class="ffzx_tit1">北京大数据中心</h6>
                        <p class="ffzx_p1">拥有超过15年的云计算数据中心运营管理服务经验，在全国拥有多个自建及合作的高等级云计算数据中心， 具有丰富的网络和带宽资源，可为客户提供IDC托管、服务器租用、整机柜租用、场地资源租用、服务器带宽、独享带宽、多线BGP资源、点对点专线、混合云服务、CDN加速和各类增值服务等。</p>
                    </div>
                    <div class="ffzx_text2">
                        <h6 class="ffzx_tit1">河北大数据分中心</h6>
                        <p class="ffzx_p1">拥有超过15年的云计算数据中心运营管理服务经验，在全国拥有多个自建及合作的高等级云计算数据中心， 具有丰富的网络和带宽资源，可为客户提供IDC托管、服务器租用、整机柜租用、场地资源租用、服务器带宽、独享带宽、多线BGP资源、点对点专线、混合云服务、CDN加速和各类增值服务等。</p>
                    </div>
                    <div class="ffzx_text3">
                        <h6 class="ffzx_tit1">天津大数据分中心</h6>
                        <p class="ffzx_p1">拥有超过15年的云计算数据中心运营管理服务经验，在全国拥有多个自建及合作的高等级云计算数据中心， 具有丰富的网络和带宽资源，可为客户提供IDC托管、服务器租用、整机柜租用、场地资源租用、服务器带宽、独享带宽、多线BGP资源、点对点专线、混合云服务、CDN加速和各类增值服务等。</p>
                    </div>
                    <div class="ffzx_text4">
                        <h6 class="ffzx_tit1">河南大数据分中心</h6>
                        <p class="ffzx_p1">拥有超过15年的云计算数据中心运营管理服务经验，在全国拥有多个自建及合作的高等级云计算数据中心， 具有丰富的网络和带宽资源，可为客户提供IDC托管、服务器租用、整机柜租用、场地资源租用、服务器带宽、独享带宽、多线BGP资源、点对点专线、混合云服务、CDN加速和各类增值服务等。</p>
                    </div>
                    <div class="ffzx_btn"><button>更多大数据中心</button></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <div class="dsj_footer" th:include="/fragments/footer :: footer">
    </div>

</div>
</body>
</html>

