<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>农业大数据智能分析平台</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/css/unslider-dots.css}" rel="stylesheet" />
	<link th:href="@{/css/unslider.css}" rel="stylesheet" />
	<link th:href="@{/css/saved_resource.css}" rel="stylesheet" />
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/unslider-min.js}"></script>
	<script th:src="@{/js/mouseover.js}"></script>
</head>
<body>
    <div class="dsj_footer" th:fragment="footer">
		<div class="footer_content">
			<ul class="dsj_footer_left">
				<li class="footer_li_img clearfix"><img th:src="@{/images/title.png}" alt=""/><span><a href="#"></a></span><em><a href="#"></a></em></li>
				<li class="footer_li1"><span>平台首页</span>|<span>大数据资源池</span>|<span>大数据云服务</span>|<span>数据服务工具</span>|<span>解决方案</span>|<span>大数据分中心</span></li>
				<li class="footer_li2">北京农业信息技术研究中心 版权所有</li>
				<li class="footer_li2">京I CP备05052108号 京公网安备11010802010580号</li>
				<li class="footer_li2">© 2001-2015 ShopEx,Inc.All rights reserved</li>
				<li class="footer_li2">Powered by 绿云格</li>
			</ul>
			<ul class="dsj_footer_center">
				<li class="footer_li1">售前咨询</li>
				<li class="footer_li2"><span></span>400-890-8858 (  9:00 - 18:00 )</li>
				<li class="footer_li3"><span></span>800000880</li>
				<li class="footer_li1">售后咨询</li>
				<li class="footer_li2"><span></span>010-51000000 (  9:00 - 18:00 )</li>
			</ul>
			<dl class="dsj_footer_right">
				<dt><img th:src="@{/images/icon_img/weixin_icon.png}" alt=""/></dt>
				<dd>微信扫一扫</dd>
			</dl>
		</div>
	</div>
</body>
</html>

