@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, input,  select, textarea {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul, ol {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  color: #666;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

fieldset, img {
  border: none; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace; }

small {
  font-size: 12px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

html {
  -ms-touch-action: none; }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: "微软雅黑"; }

.dsj_container {
  width: 100%;
  background-color: #fafafa;
  overflow: hidden;
  min-width: 1260px; }

.dsj_container_bg_white {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  min-width: 1260px; }

.dsj_nav1 {
  width: 100%;
  height: 60px;
  color: #fff;
  background: #000050;
  border-bottom: 1px solid #000090; }
  .dsj_nav1 .dsj_nav1_box {
    width: 1260px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px; }
    .dsj_nav1 .dsj_nav1_box .logo_img {
      float: left;
      width: 345px;
      padding-left: 20px;
      line-height: 60px; }
      .dsj_nav1 .dsj_nav1_box .logo_img img {
        margin-top: 15px; }
    .dsj_nav1 .dsj_nav1_box ul li {
      float: left;
      margin-right: 30px; }
      .dsj_nav1 .dsj_nav1_box ul li a {
        color: #fff;
        font-size: 14px;
        padding: 0 3px 8px 3px; }
        .dsj_nav1 .dsj_nav1_box ul li a:hover {
          border-bottom: 2px solid #fff; }
      .dsj_nav1 .dsj_nav1_box ul li.on a {
        border-bottom: 2px solid #fff; }
    .dsj_nav1 .dsj_nav1_box .zc_dl_button {
      float: right; }
      .dsj_nav1 .dsj_nav1_box .zc_dl_button button {
        border: none;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        background: none;
        width: 90px;
        height: 60px; }
      .dsj_nav1 .dsj_nav1_box .zc_dl_button button:hover {
        width: 90px;
        height: 60px;
        background: #00c1de; }
      .dsj_nav1 .dsj_nav1_box .zc_dl_button button.active {
        width: 90px;
        height: 60px;
        background: #00c1de; }

.dsj_banner {
  background: #000050;
  height: 410px; }
  .dsj_banner .dsj_banner_box {
    margin: 0 auto;
    width: 1260px;
    height: 410px; }
    .dsj_banner .dsj_banner_box .unslider {
      width: 1260px;
      margin: 0 auto;
      position: relative; }
    .dsj_banner .dsj_banner_box .scroll_text1 {
      color: #fff;
      font-size: 42px;
      top: 105px;
      left: 23px;
      position: absolute; }
    .dsj_banner .dsj_banner_box .scroll_text2 {
      color: #fff;
      font-size: 20px;
      top: 170px;
      left: 23px;
      position: absolute; }
    .dsj_banner .dsj_banner_box .unslider-wrap li img {
      width: 1260px;
      height: 400px; }

.dsj_nav2 {
  width: 100%;
  height: 130px;
  background: #d7d7d8; }
  .dsj_nav2 ul {
    width: 1260px;
    margin: 0 auto;
    height: 130px;
    background: url(../images/nav_2.png) no-repeat;
    background-size: 100%; }
    .dsj_nav2 ul li {
      width: 20%;
      float: left;
      cursor: pointer; }
      .dsj_nav2 ul li .text1 {
        font-size: 18px;
        font-weight: bold;
        color: #373d41;
        margin-top: 46px;
        padding-left: 23px; }
      .dsj_nav2 ul li .text2 {
        font-size: 14px;
        color: #373d41;
        margin-top: 3px;
        padding-left: 23px; }

.dsj_box1, .dsj_box2, .dsj_box3, .dsj_box4 {
  width: 1260px;
  margin: 0 auto; }

.dsj_title1 {
  height: 65px;
  margin-top: 15px;
  line-height: 65px;
  font-size: 24px;
  color: #000;
  width: 1260px;
  margin: 0 auto; }

.dsj_title2 {
  height: 50px;
  margin-bottom: 10px;
  line-height: 50px;
  font-size: 18px;
  color: #333333;
  position: relative; }
  .dsj_title2 span {
    padding: 0 10px; }
  .dsj_title2 span:before {
    position: absolute;
    top: 18px;
    left: 0;
    height: 17px;
    width: 2px;
    content: "";
    background: #2095ff; }

/* 数据资源 */
.sjzy_box {
  width: 1258px;
  height: 446px;
  border: 1px solid #eeeeee;
  background: #fff; }
  .sjzy_box .sjzy_nav {
    height: 58px;
    border-bottom: 1px solid #eeeeee; }
    .sjzy_box .sjzy_nav li {
      width: 25%;
      text-align: center;
      float: left;
      line-height: 58px; }
      .sjzy_box .sjzy_nav li a {
        font-size: 16px;
        color: #666666;
        padding: 20px 10px; }
      .sjzy_box .sjzy_nav li:hover a {
        color: #108cee;
        font-weight: bold;
        background: url(../images/line1.png) no-repeat left bottom;
        background-size: 100%; }
      .sjzy_box .sjzy_nav li.active a {
        color: #108cee;
        font-weight: bold;
        background: url(../images/line1.png) no-repeat left bottom;
        background-size: 100%; }
  .sjzy_box .sjzy_dl {
    width: 1150px;
    margin: 30px auto;
    height: 185px; }
    .sjzy_box .sjzy_dl dt {
      float: left;
      width: 330px;
      height: 185px; }
      .sjzy_box .sjzy_dl dt img {
        width: 100%;
        height: 100%; }
    .sjzy_box .sjzy_dl dd {
      width: 772px;
      height: 185px;
      float: right; }
      .sjzy_box .sjzy_dl dd .sjzy_tit1 {
        font-size: 24px;
        color: #333333;
        line-height: 40px; }
      .sjzy_box .sjzy_dl dd .sjzy_text1 {
        line-height: 24px;
        color: #666666;
        font-size: 14px;
        height: 70px;
        overflow: hidden;
        margin-top: 14px; }
      .sjzy_box .sjzy_dl dd .ckxq {
        color: #3a8cf2;
        font-size: 14px;
        margin-top: 25px;
        display: block; }
  .sjzy_box .sjzy_list {
    width: 1150px;
    margin: 0px auto;
    height: 98px;
    margin-top: 25px; }
    .sjzy_box .sjzy_list .ajzy_dl2 {
      float: left;
      width: 33.3%; }
      .sjzy_box .sjzy_list .ajzy_dl2 dt {
        float: left;
        margin-left: 32px; }
      .sjzy_box .sjzy_list .ajzy_dl2 dd {
        margin-left: 130px; }
        .sjzy_box .sjzy_list .ajzy_dl2 dd .sjzy_tit2 {
          text-align: left;
          margin: 0;
          color: #333;
          font-size: 16px; }
        .sjzy_box .sjzy_list .ajzy_dl2 dd .sjzy_text2 {
          color: #999;
          font-size: 14px;
          text-align: left;
          line-height: 25px;
          margin: 6px 0 0 0; }
          .sjzy_box .sjzy_list .ajzy_dl2 dd .sjzy_text2 a {
            color: #0b83e1;
            font-size: 14px; }
  .sjzy_box #sjzy_content2, .sjzy_box #sjzy_content3, .sjzy_box #sjzy_content4 {
    display: none; }

/* 数据服务 */
.sjfw_box {
  width: 1260px;
  margin: 0 auto;
  height: 460px;
  position: relative; }
  .sjfw_box .left_btn {
    position: absolute;
    left: 0;
    height: 460px;
    width: 25px;
    text-align: left;
    line-height: 460px; }
    .sjfw_box .left_btn img {
      cursor: pointer; }
  .sjfw_box .right_btn {
    right: 0;
    position: absolute;
    width: 25px;
    height: 460px;
    text-align: left;
    line-height: 460px; }
    .sjfw_box .right_btn img {
      cursor: pointer; }
  .sjfw_box .sjfw_content {
    width: 1200px;
    height: 460px;
    position: absolute;
    left: 25px; }
    .sjfw_box .sjfw_content .sjfw_list1 {
      width: 1200px;
      height: 460px; }
    .sjfw_box .sjfw_content .sjfw_li1 {
      width: 378px;
      border: 1px solid #eee;
      float: left;
      margin-left: 20px;
      background: #fff;
      height: 458px; }
      .sjfw_box .sjfw_content .sjfw_li1 .sjfw_tit1 {
        width: 100%;
        height: 86px;
        border-bottom: 1px solid #ebebeb; }
        .sjfw_box .sjfw_content .sjfw_li1 .sjfw_tit1 h6 {
          font-size: 18px;
          color: #777777;
          text-align: center;
          line-height: 40px;
          margin-top: 10px; }
        .sjfw_box .sjfw_content .sjfw_li1 .sjfw_tit1 p {
          font-size: 14px;
          color: #999999;
          text-align: center; }
      .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 {
        border-bottom: 1px solid #ebebeb;
        margin: 0 20px;
        box-sizing: content-box;
        padding: 15px; }
        .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 dl {
          height: 70px;
          padding-bottom: 5px; }
          .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 dl dt {
            float: left;
            margin-top: 2px;
            margin-right: 10px; }
          .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 dl dd h4 {
            font-size: 16px;
            margin: 0 0 10px 0;
            color: #333;
            font-weight: 400; }
          .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 dl dd p {
            font-size: 14px;
            color: #999999; }
        .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 .more {
          height: 0px;
          opacity: 0;
          display: none; }
          .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 .more p {
            float: left;
            font-size: 14px;
            color: #999999;
            line-height: 40px; }
            .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 .more p span {
              color: #fead23; }
          .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1 .more a {
            display: block;
            color: #108cee;
            border: 1px solid #108cee;
            padding: 7px 25px;
            float: right;
            text-decoration: none;
            font-size: 14px; }
        .sjfw_box .sjfw_content .sjfw_li1 .subGroup_box1.current .more {
          height: 40px;
          opacity: 1;
          display: block; }
      .sjfw_box .sjfw_content .sjfw_li1 .border_none {
        border-bottom: none; }

/* 解决方案 */
.jjfa_box {
  width: 1260px;
  margin: 0 auto;
  height: 375px; }

.jjfa_box_content {
  background-color: rgba(79, 107, 166, 0.65); }

/* 数据服务工具 */
.fwgj_box {
  width: 1230px;
  height: 303px;
  background: #fff;
  padding: 20px; }
  .fwgj_box .fwgj_left {
    float: left;
    width: 195px;
    height: 303px;
    border-right: 1px solid #eee; }
    .fwgj_box .fwgj_left ul {
      width: 140px;
      height: 300px;
      margin: 0 auto; }
      .fwgj_box .fwgj_left ul li {
        width: 100%;
        border-bottom: 1px solid #eee;
        height: 69px;
        line-height: 69px; }
        .fwgj_box .fwgj_left ul li a {
          font-size: 16px;
          color: #333333; }
        .fwgj_box .fwgj_left ul li span {
          width: 6px;
          height: 9px;
          float: right;
          background: url(../images/icon_img/more_icon.png) no-repeat;
          margin-top: 30px;
          margin-right: 9px;
          background-position: 0 -77px; }
        .fwgj_box .fwgj_left ul li:hover a {
          color: #108cee;
          font-weight: bold; }
        .fwgj_box .fwgj_left ul li:hover span {
          background-position: 0 0px; }
        .fwgj_box .fwgj_left ul li.active a {
          color: #108cee;
          font-weight: bold; }
        .fwgj_box .fwgj_left ul li.active span {
          background-position: 0 0px; }
  .fwgj_box .fwgj_right {
    width: 1015px;
    height: 250px;
    float: right;
    border-bottom: 1px solid #eee; }
    .fwgj_box .fwgj_right .fwgj_tit1 {
      font-size: 18px;
      color: #333;
      line-height: 80px; }
    .fwgj_box .fwgj_right .fwgj_text {
      width: 530px;
      height: 75px;
      overflow: hidden;
      font-size: 14px;
      color: #666666;
      line-height: 24px;
      margin-bottom: 7px; }
      .fwgj_box .fwgj_right .fwgj_text p {
        font-size: 14px;
        color: #666666;
        line-height: 24px; }
    .fwgj_box .fwgj_right .ljxq_btn {
      margin: 10px 0; }
      .fwgj_box .fwgj_right .ljxq_btn a {
        font-size: 14px;
        color: #108cee; }
    .fwgj_box .fwgj_right .xgcp {
      font-size: 14px;
      color: #333333;
      height: 46px;
      line-height: 46px; }
      .fwgj_box .fwgj_right .xgcp span {
        color: #108cee; }
        .fwgj_box .fwgj_right .xgcp span a {
          color: #108cee; }
  .fwgj_box #fwgj_content2, .fwgj_box #fwgj_content3, .fwgj_box #fwgj_content4 {
    display: none; }
  .fwgj_box #fwgj_content1 {
    background: url(../images/fwgj_bg.png) no-repeat right bottom; }
  .fwgj_box #fwgj_content2 {
    background: url(../images/fwgj_bg.png) no-repeat right bottom; }
  .fwgj_box #fwgj_content3 {
    background: url(../images/fwgj_bg.png) no-repeat right bottom; }
  .fwgj_box #fwgj_content4 {
    background: url(../images/fwgj_bg.png) no-repeat right bottom; }

/* 云服务中心 */
.dsj_box5 {
  width: 100%; }

.dsj_box5 .dsj_title1 {
  width: 1260px;
  margin: 0 auto; }

.ffzx_box {
  height: 534px;
  background: #f5f8fd; }
  .ffzx_box .ffzx_box_content {
    width: 1260px;
    margin: 0 auto;
    height: 534px;
    background: url(../images/map_bg1.png) no-repeat;
    background-size: cover; }
  .ffzx_box .ffzx_left {
    float: left;
    width: 733px;
    height: 494px;
    padding: 20px 0; }
  .ffzx_box .ffzx_right {
    float: right;
    width: 515px;
    height: 534px;
    position: relative; }
  .ffzx_box .ffzx_tit1 {
    font-size: 20px;
    color: #333333;
    height: 50px;
    line-height: 50px;
    text-align: right; }
  .ffzx_box .ffzx_p1 {
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    text-align: right;
    height: 58px;
    float: right; }
  .ffzx_box .ffzx_text1 {
    width: 260px;
    border-bottom: 1px solid #eee;
    height: 108px;
    float: right;
    margin-top: 20px; }
    .ffzx_box .ffzx_text1 p {
      width: 212px;
      height: 40px;
      overflow: hidden;
      line-height: 20px; }
  .ffzx_box .ffzx_text2 {
    width: 377px;
    border-bottom: 1px solid #eee;
    height: 108px;
    float: right; }
    .ffzx_box .ffzx_text2 p {
      width: 338px;
      height: 40px;
      overflow: hidden;
      line-height: 20px; }
  .ffzx_box .ffzx_text3 {
    width: 460px;
    border-bottom: 1px solid #eee;
    height: 108px;
    float: right; }
    .ffzx_box .ffzx_text3 p {
      width: 430px;
      height: 40px;
      overflow: hidden;
      line-height: 20px; }
  .ffzx_box .ffzx_text4 {
    width: 520px;
    height: 108px;
    float: right; }
    .ffzx_box .ffzx_text4 p {
      width: 492px;
      height: 40px;
      overflow: hidden;
      line-height: 20px; }
  .ffzx_box .ffzx_btn {
    position: absolute;
    bottom: 30px;
    right: 10px; }
    .ffzx_box .ffzx_btn button {
      margin-top: 28px;
      width: 200px;
      height: 35px;
      font-size: 16px;
      color: #444444;
      border: 1px solid #108cee;
      background: #fff;
      cursor: pointer;
      border-radius: 3px; }

/* 底部 */
.dsj_footer {
  width: 100%;
  height: 272px;
  background: #24282c;
  overflow: hidden; }
  .dsj_footer .footer_content {
    width: 1260px;
    margin: 0 auto;
    padding-top: 55px;
    height: 220px; }
  .dsj_footer .dsj_footer_left {
    width: 605px;
    float: left;
    padding-left: 40px;
    height: 270px; }
    .dsj_footer .dsj_footer_left .footer_li2 {
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      color: #fff; }
    .dsj_footer .dsj_footer_left .footer_li1 {
      height: 50px;
      line-height: 50px;
      font-size: 12px;
      color: #fff; }
      .dsj_footer .dsj_footer_left .footer_li1 span {
        margin: 0 5px; }
    .dsj_footer .dsj_footer_left .footer_li_img img {
      float: left;
      margin-right: 20px; }
    .dsj_footer .dsj_footer_left .footer_li_img span {
      width: 25px;
      height: 25px;
      float: left;
      margin-right: 20px; }
      .dsj_footer .dsj_footer_left .footer_li_img span a {
        background: url(../images/icon_img/footer_icon.png) no-repeat;
        display: block;
        width: 25px;
        height: 25px; }
    .dsj_footer .dsj_footer_left .footer_li_img em {
      width: 25px;
      height: 25px;
      float: left;
      margin-right: 20px; }
      .dsj_footer .dsj_footer_left .footer_li_img em a {
        background: url(../images/icon_img/footer_icon.png) no-repeat;
        display: block;
        width: 25px;
        height: 25px;
        background-position: -40px 0; }
  .dsj_footer .dsj_footer_center {
    width: 345px;
    float: left;
    height: 270px; }
    .dsj_footer .dsj_footer_center .footer_li1 {
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      color: #fff; }
    .dsj_footer .dsj_footer_center .footer_li2 {
      height: 35px;
      line-height: 35px;
      font-size: 18px;
      color: #fff; }
      .dsj_footer .dsj_footer_center .footer_li2 span {
        background: url(../images/icon_img/phone_icon.png) no-repeat;
        width: 18px;
        height: 24px;
        float: left;
        margin-right: 10px;
        margin-top: 5px; }
    .dsj_footer .dsj_footer_center .footer_li3 {
      height: 35px;
      line-height: 35px;
      font-size: 18px;
      color: #fff; }
      .dsj_footer .dsj_footer_center .footer_li3 span {
        background: url(../images/icon_img/qie_icon.png) no-repeat;
        width: 19px;
        height: 24px;
        float: left;
        margin-right: 10px;
        margin-top: 5px; }
  .dsj_footer .dsj_footer_right {
    width: 170px;
    float: right;
    height: 270px; }
    .dsj_footer .dsj_footer_right dd {
      line-height: 24px;
      font-size: 14px;
      color: #fff;
      text-align: center;
      width: 120px; }

/* 轮播 */
.mr_frbox {
  height: 375px;
  position: relative; }

.mr_frBtnL {
  cursor: pointer;
  display: inline;
  height: 24px;
  margin: 160px 10px 0 0;
  width: 16px;
  position: absolute;
  left: 15px;
  z-index: 999; }

.mr_frUl {
  float: left;
  height: 375px;
  width: 1047px;
  margin-left: 10px; }

.mr_frBtnR {
  float: right;
  margin-top: 160px;
  cursor: pointer;
  height: 24px;
  width: 16px;
  position: absolute;
  right: 0px;
  z-index: 999; }

.mr_frUl ul li {
  display: inline;
  float: left;
  height: 375px;
  width: 252px;
  overflow: hidden;
  position: relative; }

.mr_frUl ul li a img {
  /*display:block;*/
  width: 100%;
  height: 375px; }

.mr_zhe {
  width: 252px;
  position: absolute;
  top: 0;
  height: 375px;
  left: 0;
  right: 0; }

.mr_zhe_i {
  width: 252px;
  position: absolute;
  top: 0;
  background: rgba(79, 107, 166, 0.65) none repeat scroll 0 0 !important;
  /*实现FF背景透明，文字不透明*/
  filter: Alpha(opacity=80);
  background: #4f6ba6;
  /*实现IE背景透明*/
  height: 375px;
  left: 0;
  right: 0; }

.mr_zhe_i h1 {
  text-align: center;
  font-size: 182px;
  height: 138px;
  line-height: 138px;
  margin-top: 72px;
  margin-bottom: 64px;
  font-weight: bold;
  color: #fff; }

.mr_zhe_p {
  margin-bottom: 60px;
  width: 128px;
  margin-left: 63px; }

.mr_zhe_p h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 30px; }

.mr_zhe_p h3 span {
  display: block;
  margin: 0 auto;
  width: 260px;
  font-size: 18px;
  border-bottom: 1px solid #f4f4f4; }

.mr_zhe_hover {
  bottom: -596px;
  height: 200px;
  position: absolute;
  width: 252px;
  /* background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important; */
  /*实现FF背景透明，文字不透明*/
  filter: Alpha(opacity=80);
  /* background:#0a0a0a; */
  /*实现IE背景透明*/ }

.mr_zhe_hover h1 {
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 22px 0;
  color: #fff; }

.mr_zhe_img {
  position: relative;
  width: 50px;
  height: 60px;
  text-align: center;
  margin-top: 110px;
  margin-left: 100px;
  margin-bottom: 22px; }

.mr_zhe_img img {
  height: 80%; }

.mr_zhe_hover h1 {
  width: 50px;
  height: 60px;
  text-align: center;
  margin: 0 auto; }

.mr_zhe_hover h1 img {
  height: 80%; }

/*.mr_zhe_img:after{position: absolute;bottom: 0px;height: 1px;left: 50%;margin-left:-8px;width: 17px;content: "";background: #fff;}*/
/* 行业应用解决方案 */
.hyyy_jjfa_box {
  width: 1258px;
  height: 230px; }
  .hyyy_jjfa_box .jjfa_list {
    border: 1px solid #eaeaea;
    width: 284px;
    height: 226px;
    float: left;
    margin-right: 38px; }
    .hyyy_jjfa_box .jjfa_list dt {
      width: 100%;
      text-align: center;
      height: 108px;
      line-height: 200px; }
    .hyyy_jjfa_box .jjfa_list dd h6 {
      text-align: center;
      font-size: 16px;
      color: #333333;
      line-height: 36px; }
    .hyyy_jjfa_box .jjfa_list dd p {
      text-align: center;
      font-size: 12px;
      color: #666666;
      line-height: 22px; }
    .hyyy_jjfa_box .jjfa_list:nth-child(4) {
      margin-right: 0; }
    .hyyy_jjfa_box .jjfa_list:hover {
      background: #f1f1f1;
      border: 1px solid #ddd; }

/* 网络传输解决方案 */
.wlcs_jjfa_box .wlcs_jjfa_tit {
  width: 100%;
  height: 40px;
  margin-bottom: 30px; }
  .wlcs_jjfa_box .wlcs_jjfa_tit li {
    width: 118px;
    height: 38px;
    border: 1px solid #eeeeee;
    float: left;
    text-align: center;
    line-height: 40px; }
    .wlcs_jjfa_box .wlcs_jjfa_tit li a {
      font-size: 12px;
      color: #333333; }
    .wlcs_jjfa_box .wlcs_jjfa_tit li.active {
      background: #fff;
      border-top: 2px solid #2095ff;
      height: 37px; }
    .wlcs_jjfa_box .wlcs_jjfa_tit li:hover {
      background: #fff;
      border-top: 2px solid #2095ff;
      height: 37px; }
.wlcs_jjfa_box .wlcs_jjfa_content {
  width: 1258px;
  height: 475px;
  margin-bottom: 50px; }
  .wlcs_jjfa_box .wlcs_jjfa_content .wlcs_jjfa_list2 {
    display: none; }
  .wlcs_jjfa_box .wlcs_jjfa_content dl {
    border: 1px solid #eaeaea;
    width: 284px;
    height: 142px;
    float: left;
    margin-right: 38px;
    margin-bottom: 19px; }
    .wlcs_jjfa_box .wlcs_jjfa_content dl dt {
      width: 105px;
      text-align: center;
      height: 142px;
      float: left;
      line-height: 142px; }
    .wlcs_jjfa_box .wlcs_jjfa_content dl dd {
      width: 179px;
      height: 142px;
      float: right; }
      .wlcs_jjfa_box .wlcs_jjfa_content dl dd h6 {
        font-size: 16px;
        color: #333333;
        line-height: 36px;
        margin-top: 30px; }
      .wlcs_jjfa_box .wlcs_jjfa_content dl dd p {
        font-size: 12px;
        color: #666666;
        line-height: 22px; }
    .wlcs_jjfa_box .wlcs_jjfa_content dl:nth-child(4n) {
      margin-right: 0; }
    .wlcs_jjfa_box .wlcs_jjfa_content dl:hover {
      background: #f1f1f1;
      border: 1px solid #ddd; }

/* 资源统计 */
.zsltj_box {
  width: 1200px;
  margin: 0 auto; }
  .zsltj_box .zsltj_content {
    height: 70px;
    margin-bottom: 30px; }
    .zsltj_box .zsltj_content dl {
      width: 186px;
      height: 67px;
      border: 1px solid #eaeaea;
      float: left;
      margin-right: 14px; }
      .zsltj_box .zsltj_content dl dt {
        float: right;
        width: 67px;
        height: 67px;
        line-height: 103px; }
      .zsltj_box .zsltj_content dl dd p {
        font-size: 12px;
        color: #666666;
        text-align: center;
        line-height: 25px;
        margin-top: 5px; }
      .zsltj_box .zsltj_content dl dd h6 {
        font-size: 24px;
        color: #333;
        text-align: center; }
        .zsltj_box .zsltj_content dl dd h6 span {
          color: #666; }
      .zsltj_box .zsltj_content dl:last-child {
        margin-right: 0; }
  .zsltj_box .zlxs_content {
    height: 296px; }
    .zsltj_box .zlxs_content .zlxs_left {
      width: 753px;
      height: 254px;
      float: left;
      border: 1px solid #eaeaea;
      padding: 20px;
      background: #fff; }
    .zsltj_box .zlxs_content .zlxs_right {
      width: 348px;
      height: 254px;
      float: right;
      border: 1px solid #eaeaea;
      background: #f3f3f3;
      padding: 20px; }

/* 热门关键词 */
.regjz_content {
  float: left;
  width: 392px;
  height: 405px;
  margin-bottom: 30px; }
  .regjz_content table {
    border: 1px solid #eaeaea; }
    .regjz_content table thead {
      font-size: 14px;
      color: #666666;
      font-weight: bold; }
      .regjz_content table thead th:first-child {
        width: 250px;
        padding-left: 5px; }
      .regjz_content table thead th:nth-child(2) {
        width: 130px;
        padding-left: 5px; }
    .regjz_content table tr {
      border-bottom: 1px solid #d9d9d9;
      height: 40px;
      color: #666666;
      font-size: 14px; }
      .regjz_content table tr td span {
        margin-right: 9px; }
      .regjz_content table tr td em {
        margin-right: 9px; }
      .regjz_content table tr td b {
        color: #2e83f5;
        font-size: 15px;
        cursor: pointer; }
      .regjz_content table tr td:first-child {
        width: 250px;
        padding-left: 5px;
        overflow: hidden; }
      .regjz_content table tr td:nth-child(2) {
        width: 130px;
        padding-left: 5px; }

/* 新接入平台设备 */
.ptsb_content {
  width: 795px;
  height: 405px;
  float: right;
  margin-bottom: 30px; }
  .ptsb_content table {
    border: 1px solid #eaeaea;
    width: 794px;
    height: 321px; }
    .ptsb_content table thead {
      font-size: 14px;
      color: #666666;
      font-weight: bold; }
      .ptsb_content table thead th {
        background: #fff; }
    .ptsb_content table tr {
      height: 40px;
      color: #666666;
      font-size: 14px; }
      .ptsb_content table tr td {
        padding-left: 16px; }
      .ptsb_content table tr:nth-child(odd) {
        background: #f8f8f8; }
      .ptsb_content table tr:nth-child(even) {
        background: #fff; }
    .ptsb_content table .center td {
      text-align: center; }

/* 产品特性 */
.cptx_box {
  width: 1200px;
  height: 395px; }
  .cptx_box dl {
    width: 135px;
    height: 180px;
    float: left;
    /* margin-right:98px; */
    margin-left: 84px;
    margin-right: 21px;
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer; }
    .cptx_box dl dt {
      text-align: center; }
    .cptx_box dl dd h6 {
      font-size: 16px;
      color: #444;
      line-height: 40px;
      text-align: center; }
    .cptx_box dl dd p {
      font-size: 12px;
      color: #999;
      text-align: center; }

/* 云特性 */
.ytx_box {
  width: 1200px;
  height: 245px; }
  .ytx_box dl {
    width: 284px;
    height: 101px;
    border: 1px solid #eaeaea;
    float: left;
    margin-right: 18px;
    margin-bottom: 15px;
    background: #fff;
    cursor: pointer; }
    .ytx_box dl dt {
      float: left;
      width: 90px;
      height: 100px;
      text-align: center;
      line-height: 100px; }
    .ytx_box dl dd h6 {
      font-size: 16px;
      color: #333333;
      line-height: 40px;
      margin-top: 10px; }
    .ytx_box dl dd p {
      font-size: 12px;
      color: #666666; }
    .ytx_box dl:nth-child(1), .ytx_box dl:nth-child(8) {
      border-top: 5px solid #2095ff; }
    .ytx_box dl:nth-child(2), .ytx_box dl:nth-child(5) {
      border-top: 5px solid #7fc62c; }
    .ytx_box dl:nth-child(3), .ytx_box dl:nth-child(6) {
      border-top: 5px solid #f7651c; }
    .ytx_box dl:nth-child(4), .ytx_box dl:nth-child(7) {
      border-top: 5px solid #c95bff; }
    .ytx_box dl:nth-child(4n) {
      margin-right: 0; }

/* 应用中心 */
.application_centre {
  height: 75px;
  background: #f9f9f9;
  margin: 10px auto;
  width: 1200px; }

.application_classify {
  float: left;
  width: 20%;
  position: relative;
  cursor: pointer; }

.application_classify i {
  background-image: url(../images/icon_img/application_icon.png);
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 15px 0 0 15px; }

.application_classify dl {
  position: absolute;
  top: 15px;
  left: 70px; }

.application_classify dl dt {
  font-size: 18px;
  margin-right: 5px; }

.application_classify dl dd {
  font-size: 12px;
  color: #bbbbbb; }

.application_classify .i1 {
  background-position: 0px 0px; }

.application_classify .i2 {
  background-position: -50px 0px; }

.application_classify .i3 {
  background-position: -100px 0px; }

.application_classify .i4 {
  background-position: -150px 0px; }

.commend_title {
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 18px; }

.commend_title span {
  display: inline-block;
  width: 90px;
  text-align: center;
  border-bottom: 2px solid #ff7700;
  font-size: 18px; }

.commend_title_green {
  height: 45px;
  line-height: 45px;
  margin: 0 20px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 18px; }

.commend_title_green span {
  display: inline-block;
  width: 90px;
  text-align: center;
  border-bottom: 2px solid #66cc00;
  font-size: 18px; }

.commend_banner {
  margin: 15px 0px;
  position: relative; }

.commend_banner_one {
  width: 33.3333%;
  float: left;
  position: relative;
  height: 80px;
  margin-bottom: 18px; }

.commend_banner_one_container {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 90px; }

.commend_banner_one .color01 {
  background: #fff5eb; }

.commend_banner_one .color02 {
  background: #f3f7e8; }

.commend_banner_one .color03 {
  background: #d6f4f4; }

.commend_banner_one_container i {
  width: 58px;
  height: 58px;
  display: inline-block;
  margin: 17px 0 0 15px;
  border-radius: 5px; }

.commend_banner_one_container .i1 {
  background-position: 0px 0; }

.commend_banner_one_container .i2 {
  background-position: -58px 0; }

.commend_banner_one_container .i3 {
  background-position: -116px 0; }

.commend_banner_one_container .i4 {
  background-position: -174px 0; }

.commend_banner_one_container .i5 {
  background-position: -232px 0; }

.commend_banner_one_container .i6 {
  background-position: -290px 0; }

.commend_banner_one_container .i7 {
  background-position: -348px 0; }

.commend_banner_one_container .i8 {
  background-position: -406px 0; }

.commend_banner_one_container .i9 {
  background-position: -464px 0; }

.commend_banner_one_container dl {
  position: absolute;
  top: 13px;
  left: 95px; }

.commend_banner_one_container dl dt {
  font-size: 13px;
  line-height: 22px;
  font-weight: bold; }

.commend_banner_one_container dl dd {
  font-size: 12px;
  line-height: 22px; }

.commend_banner_one_container dl dd span {
  display: block;
  line-height: 22px; }

.commend_banner_one .color01 dl dt {
  color: #a16424; }

.commend_banner_one .color01 dl dd {
  color: #d49551; }

.commend_banner_one .color02 dl dt {
  color: #72904a; }

.commend_banner_one .color02 dl dd {
  color: #93ab5f; }

.commend_banner_one .color03 dl dt {
  color: #439591; }

.commend_banner_one .color03 dl dd {
  color: #76a3a0; }

.commend_banner_one_container .new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999; }

.whom_used {
  height: 375px;
  position: absolute;
  top: 146px;
  right: 0px;
  width: 350px;
  background: #fff;
  border: 1px solid #e6e6e6; }

.person_used {
  height: 74px;
  border-bottom: 1px dashed #dcdcdc;
  position: relative;
  padding-bottom: 5px; }

.person_used:hover {
  background: #f7f7f7; }

.person_used_img {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 3px;
  background: #FFF;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 18px;
  left: 0; }

.person_used_ul {
  position: absolute;
  left: 70px;
  top: 22px;
  font-size: 12px; }

.person_used_ul dt font {
  display: inline-block;
  color: #009900;
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  height: 24px;
  line-height: 20px; }

.person_used_ul dd {
  color: #009900;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 24px;
  line-height: 24px; }

.percent_ul {
  padding: 10px 30px 0 20px; }

.percent_ul li {
  float: left;
  width: 33.333%;
  text-align: center;
  color: #aaaaaa;
  font-size: 14px;
  line-height: 26px; }

.percent_ul li font {
  display: block;
  padding-top: 5px; }

.percent_ul li .f1 {
  color: #009900; }

.percent_ul li .f2 {
  color: #ff7700; }

.yyzx_box {
  width: 1200px;
  height: 355px;
  margin-bottom: 50px;
  background: #fff; }
  .yyzx_box .yyzx__left {
    width: 820px;
    height: 355px;
    border: 1px solid #ececec;
    padding: 0 17px;
    float: left; }
  .yyzx_box .yyzx__right {
    width: 283px;
    height: 355px;
    border: 1px solid #ececec;
    padding: 0 13px;
    float: right; }

/* 公共云服务----舆情服务 */
.newserviceline1 {
  height: 410px;
  margin-top: 10px;
  position: relative;
  background: #fff; }

.twitter_service {
  width: 280px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 380px; }

.twitter_service_title {
  height: 36px;
  line-height: 36px;
  font-size: 18px; }

.twitter_service_title span {
  display: inline-block;
  padding-left: 10px;
  color: #d90102; }

.twitter_service_title span img {
  margin-right: 5px; }

.twitter_service_title1 {
  height: 36px;
  line-height: 36px;
  font-size: 18px; }

.twitter_service_title1 span {
  display: inline-block;
  padding-left: 14px;
  color: #000033; }

.twitter_service_title1 span img {
  margin-right: 5px; }

.sentiment_web_one_time2 {
  color: #999999;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 80px; }

.sentiment_web_one_broadcast2 {
  color: #666666;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 180px; }

.sentiment_web_one_broadcast2 a {
  color: #009900; }

.sentiment_web_one2 {
  border-bottom: 1px dashed #d8d8d8;
  height: 172px;
  position: relative; }

.sentiment_web_one2:hover {
  background: #f7f7f7;
  cursor: pointer; }

.sentiment_web_one2.active {
  background: #f7f7f7;
  cursor: pointer; }

.sentiment_web_one2.active .sentiment_web_one_broadcast2 a span {
  color: #d80145; }

.sentiment_web_one2:hover .sentiment_web_one_broadcast2 a span {
  color: #d80145; }

.sentiment_web_one_list2 {
  position: absolute;
  top: 50px;
  left: 80px;
  right: 5px; }

.sentiment_web_one_list2 dt {
  line-height: 22px;
  color: #666666;
  height: 90px;
  overflow: hidden; }

.sentiment_web_one_pic2 {
  width: 50px;
  height: 50px;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 20px;
  left: 13px; }

.sentiment_web_one_pic2 img {
  width: 50px;
  height: 50px; }

.attention {
  width: 290px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 380px; }

.two_dimention_code {
  background: #f9f9f9;
  height: 348px; }

.one_code {
  float: left;
  width: 85px;
  text-align: center;
  position: relative;
  margin: 15px 0 8px 8px; }

.one_code_introduce {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #d80145;
  height: 86px;
  background: rgba(0, 0, 0, 0.65) !important;
  background: #000;
  filter: alpha(opacity=65);
  color: #FFF;
  display: none; }

.one_code_introduce span {
  display: inline-block;
  font-size: 14px;
  margin-top: 16px; }

.one_code_introduce h3 {
  font-size: 12px; }

.one_code :hover {
  cursor: pointer; }

.public_opinion {
  position: absolute;
  top: 0px;
  right: 320px;
  left: 310px;
  height: 380px; }

.public_opinion_title {
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 18px; }

.public_opinion_time {
  float: right;
  height: 30px;
  line-height: 30px;
  font-size: 12px; }

.public_opinion_ul {
  height: 35px;
  line-height: 35px;
  float: left;
  width: 100%; }

.public_opinion_ul li {
  float: left;
  width: 48%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px; }

.public_opinion_ul li a {
  padding-left: 10px;
  position: relative; }

.public_opinion_ul li:hover a {
  color: #009900;
  text-decoration: underline; }

.public_opinion_ul li:hover a:before {
  position: absolute;
  top: 10px;
  height: 5px;
  left: 0px;
  width: 5px;
  content: "";
  background: #009900;
  border-radius: 50%; }

.public_opinion_ul li a:before {
  position: absolute;
  top: 10px;
  height: 5px;
  left: 0px;
  width: 5px;
  content: "";
  background: #818181;
  border-radius: 50%; }

.public_opinion_ul li.active a {
  color: #009900;
  text-decoration: underline; }

.public_opinion_ul li.active a:before {
  position: absolute;
  top: 10px;
  height: 5px;
  left: 0px;
  width: 5px;
  content: "";
  background: #009900;
  border-radius: 50%; }

.one_opinion {
  float: left;
  height: 102px;
  background: #FFF;
  padding: 3px 0;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  width: 100%; }

.one_opinion_color {
  background: url(../images/icon_img/opinion.png) no-repeat top right #f7f7f7;
  position: relative;
  height: 102px; }

.one_opinion_title {
  font-size: 28px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #4aa74a;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.one_opinion_title a {
  color: #4aa74a; }

.one_opinion_content {
  font-size: 14px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #818181;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.one_opinion_content a {
  color: #818181; }

.farm_news_one {
  float: left;
  height: 104px;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  position: relative; }

.farm_news_one_pic {
  margin: 9px 0 0 5px;
  width: 120px;
  height: 86px; }

.farm_news_one_dl {
  position: absolute;
  top: 10px;
  left: 140px;
  right: 5px; }

.farm_news_one_dl dt {
  font-size: 18px;
  padding-top: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 95%;
  height: 25px;
  line-height: 25px; }

.farm_news_one_dl dd {
  text-indent: 2em;
  color: #818181;
  font-size: 12px;
  padding-top: 8px;
  height: 46px;
  overflow: hidden; }

.farm_news_one_dl dd a {
  color: #818181; }

.share_new {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 9999; }

.sentiment_web_one_name {
  position: absolute;
  top: 20px;
  left: 85px;
  font-weight: bold;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sentiment_web_one_v {
  position: absolute;
  top: 18px;
  left: 160px; }

.sentiment_web_one_time {
  color: #999999;
  font-size: 12px;
  position: absolute;
  top: 21px;
  left: 210px; }

.sentiment_web_one_broadcast {
  color: #666666;
  font-size: 12px;
  position: absolute;
  top: 21px;
  left: 330px; }

.sentiment_web_one_broadcast a {
  color: #666666; }

.sentiment_web_one_number {
  color: #ff6900;
  font-size: 12px;
  position: absolute;
  top: 21px;
  left: 380px; }

.sentiment_web_one_number a {
  color: #ff6900; }

.sentiment_web_one_list {
  position: absolute;
  top: 50px;
  left: 80px;
  right: 5px; }

.sentiment_web_one_list dt {
  color: #009900;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 28px;
  line-height: 28px; }

.sentiment_web_one_list dd {
  color: #666666;
  height: 40px;
  line-height: 20px;
  overflow: hidden; }

/*市场服务*/
.keyan_qb {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5; }

.keyan_qb a {
  float: left;
  line-height: 50px;
  font-size: 14px;
  color: #ff6900; }

.keyan_current span {
  float: left;
  line-height: 50px;
  color: #333;
  margin-right: 5px; }

.keyan_current {
  float: left;
  background: url(../images/icon_img/dw_icon.png) no-repeat 30px center;
  color: #d19434;
  padding-left: 50px; }

.quanbu_box {
  float: left;
  margin-left: 50px; }

.quanbu_box a {
  display: inline-block;
  line-height: 50px;
  font-size: 14px;
  color: #4d4d4d;
  margin-right: 30px; }

.quanbu_box a:hover {
  color: #d19434; }

.quanbu_box .qita {
  line-height: 50px;
  padding-right: 10px;
  background: url(../images/icon_img/j.png) no-repeat right center; }

.quanbu_box .qita:hover {
  padding-right: 10px;
  background: url(../images/icon_img/hj.png) no-repeat right center; }

.keyan_qb select {
  display: none;
  margin-left: 5px;
  width: 60px;
  height: 30px;
  border: 1px solid #e5e5e5; }

.keyan_qb input {
  float: right;
  width: 20%;
  height: 34px;
  line-height: 34px;
  margin: 8px 10px 0 0;
  padding-left: 6px;
  border: 1px solid #e5e5e5;
  background: #fff url(../images/icon_img/ss.png) no-repeat 92% center;
  border-radius: 4px; }

.keyan_4 {
  width: 36%;
  float: left;
  margin-top: 10px; }

.kayan_title {
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #d19434;
  padding-left: 10px;
  position: relative; }

.kayan_title a:hover {
  color: #ff6900; }

.kayan_title .move {
  float: right;
  color: #999;
  margin-right: 10px;
  font-size: 12px;
  line-height: 40px;
  font-family: "宋体"; }

.keyan_4 .kayan_title h2 {
  float: left;
  font-size: 16px;
  line-height: 40px; }

.keyan_4 .kayan_title h1 {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -18%;
  font-size: 12px;
  line-height: 12px;
  font-family: "宋体";
  color: #999; }

#jiage_title {
  margin-top: 10px;
  border-bottom: 1px solid #ccc; }

#jiage_title li {
  float: left;
  width: 25%;
  text-align: center;
  font-size: 16px;
  color: #1a1a1a;
  line-height: 40px; }

.jiage {
  margin-top: 0px;
  border-bottom: 1px solid #e5e5e5; }

.jiage li {
  font-size: 14px;
  color: #333;
  float: left;
  line-height: 40px; }

.jiage span {
  float: left;
  margin-left: 5%; }

#sc {
  text-align: left;
  width: 22%; }

#sc img {
  float: left;
  margin: 10px 5px 0 10%; }

#tu {
  width: 32%; }

#tu a {
  width: 30px;
  text-align: center;
  float: right;
  font-size: 12px;
  color: #ff4e00;
  font-family: "宋体";
  position: relative;
  margin-right: 5%;
  line-height: normal; }

#tu img {
  position: absolute;
  top: 14px;
  left: 50%;
  margin-left: -5px; }

#cai {
  width: 32%; }

#cai a {
  width: 30px;
  text-align: center;
  float: right;
  font-size: 12px;
  color: #379945;
  font-family: "宋体";
  position: relative;
  margin-right: 5%;
  line-height: normal; }

#cai img {
  position: absolute;
  top: 14px;
  left: 50%;
  margin-left: -5px; }

#xj {
  position: relative;
  width: 14%; }

#xj img {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -11px; }

.keyan_4 ul:hover {
  background-color: #f6f6f6; }

.keyan_5 {
  margin: 10px 2% 0 2%;
  width: 30%;
  float: left; }

.keyan_5 .kayan_title {
  margin-bottom: 10px; }

.gongxu {
  padding: 12px 2%;
  height: 70px;
  border-bottom: 1px dashed #d9d9d9; }

.gongxu:hover {
  background-color: #f5f5f5; }

.gongxu_img {
  float: left;
  width: 30%;
  height: 70px;
  background-color: #000;
  overflow: hidden; }

.gongxu_img img {
  width: 140%; }

.gongxu_text {
  float: right;
  width: 68%; }

.gongxu_text h1 {
  font-size: 16px;
  color: #1a1a1a;
  line-height: 30px; }

.gongxu_text div {
  float: left;
  width: 62%;
  margin-top: 10px; }

.gongxu_text img {
  float: left;
  margin-top: 2px;
  margin-right: 5px; }

.gongxu_text a {
  float: left;
  margin-left: 1%;
  font-size: 12px;
  color: #666;
  font-family: "宋体"; }

.keyan_3 {
  margin-top: 10px;
  width: 30%;
  float: right; }

.keyan_3_text ul {
  margin-top: 10px; }

.keyan_3_text li {
  padding: 0 10px; }

.keyan_3_text h1 {
  float: left;
  font-size: 18px;
  color: #666;
  font-family: "宋体";
  line-height: 30px; }

.keyan_3_text span {
  width: 85px;
  float: left;
  font-size: 14px;
  color: #ee7c4a;
  line-height: 30px; }

.keyan_3_text p {
  width: 85px;
  float: left;
  font-size: 14px;
  color: #5bb668;
  line-height: 30px; }

.keyan_3_text a {
  float: left;
  font-size: 14px;
  color: #333;
  line-height: 30px; }

.keyan_3_text li:hover a {
  color: #ff6900; }

.keyan_3_text li:hover h1 {
  color: #ff6900; }

/*其他服务*/
.other_service_box {
  width: 100%;
  height: 96px;
  margin-bottom: 30px; }
  .other_service_box dl {
    width: 137px;
    height: 93px;
    float: left;
    border: 1px solid #eaeaea;
    cursor: pointer;
    margin: 0 9px; }
    .other_service_box dl:hover {
      background: #f8f8f8; }
    .other_service_box dl dt {
      width: 137px;
      height: 64px;
      text-align: center;
      line-height: 83px; }
    .other_service_box dl dd {
      font-size: 16px;
      color: #333;
      text-align: center; }

/*行业云服务*/
.hyyfw_box {
  width: 100%;
  height: 310px; }
  .hyyfw_box dl {
    width: 294px;
    height: 142px;
    float: left;
    border: 1px solid #eaeaea;
    cursor: pointer;
    margin: 0 9px;
    margin-bottom: 19px; }
    .hyyfw_box dl:hover {
      background: #f8f8f8; }
    .hyyfw_box dl dt {
      width: 105px;
      height: 140px;
      float: left;
      text-align: center;
      line-height: 160px; }
    .hyyfw_box dl dd {
      float: right;
      width: 178px;
      height: 140px; }
      .hyyfw_box dl dd h6 {
        font-size: 18px;
        color: #333;
        margin-top: 20px;
        line-height: 40px; }
      .hyyfw_box dl dd p {
        font-size: 12px;
        color: #666;
        width: 156px;
        line-height: 20px; }

/*农技推广*/
.line_exper1 {
  height: 370px;
  margin-top: 15px;
  position: relative; }

.line_exper1_left {
  float: left;
  width: 70%;
  height: 370px;
  position: relative; }

.chart {
  float: left;
  width: 33.333%;
  text-align: center;
  padding-top: 15px; }

.chart_title {
  height: 35px;
  line-height: 35px; }

.chart_content {
  color: #666666;
  text-align: left;
  padding: 0 25px;
  height: 66px;
  overflow: hidden;
  line-height: 22px;
  font-size: 12px; }

.line_exper1_right {
  float: right;
  width: 29%;
  height: 370px;
  position: relative; }

.expert_activity_one {
  width: 100%;
  height: 60px;
  float: left;
  position: relative;
  padding-bottom: 5px;
  margin-top: 16px; }

.expert_activity_pic {
  float: left;
  padding: 10px; }

.expert_activity_name {
  float: left;
  font-size: 16px;
  color: #009900;
  width: 155px;
  padding-left: 0px;
  padding-top: 2px;
  margin-top: 8px;
  margin-left: 10px; }

.expert_activity_work {
  font-size: 12px;
  color: #5e5e5e;
  position: absolute;
  top: 14px;
  left: 189px; }

.expert_activity_specialty {
  position: absolute;
  top: 40px;
  left: 0px;
  font-size: 12px; }

.expert_activity_specialty11 {
  width: 185px;
  display: inline-block; }

.expert_activity_star {
  position: absolute;
  top: 38px;
  left: 78px; }

.line_exper2 {
  height: 270px;
  margin-top: 15px;
  position: relative; }

.expert_roll {
  position: absolute;
  top: 50px;
  left: 35px;
  right: 35px;
  overflow: hidden;
  height: 210px; }

.one_expert_introduce2 {
  float: left;
  width: 208px;
  position: relative;
  text-align: center;
  padding-top: 10px;
  height: 210px; }

.one_expert_pic img {
  width: 118px;
  height: 118px;
  border-radius: 50%; }

.one_expert_name {
  position: relative; }

.one_expert_career {
  position: absolute;
  top: 3px;
  left: 50%;
  font-size: 12px;
  color: #666666; }

.one_expert_career span {
  display: inline-block;
  padding-left: 40px; }

.one_expert_name {
  margin-top: 15px; }

.one_expert_location {
  font-size: 12px;
  color: #666666;
  padding: 0 15px;
  width: 180px;
  margin: 0 auto;
  margin-top: 5px; }

.expert-arrow-left {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 18px;
  height: 112px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 73px; }

.expert-arrow-left a {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  height: 100%; }

.expert-arrow-left:hover {
  background: #dddddd; }

.expert-arrow-right {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 18px;
  height: 112px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 73px; }

.expert-arrow-right a {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  height: 100%; }

.expert-arrow-right:hover {
  background: #dddddd; }

.line6expertright {
  float: right;
  width: 66%;
  height: 420px;
  position: relative; }

.line6expertleft {
  float: left;
  width: 33%;
  height: 420px;
  position: relative; }

.expert-view {
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  position: relative; }

.expert-view-name {
  display: inline-block;
  width: 62px;
  text-align: left;
  font-size: 15px;
  padding-left: 5px; }

.expert-view-career {
  display: inline-block;
  font-size: 12px; }

.expert-view-arrow {
  position: absolute;
  top: 70px;
  right: 15px;
  cursor: pointer; }

.expert-view-arrow a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #dedede;
  cursor: pointer;
  text-align: center; }

.expert-view-arrow a img {
  vertical-align: top;
  padding-top: 3px; }

.expert-view-arrow a:hover {
  background: #cccccc; }

.expertview-one {
  height: 80px;
  width: 425px;
  border-bottom: 1px solid #eaeaea;
  position: relative; }

.expertview-one-date {
  position: absolute;
  top: 5px;
  left: 0;
  text-align: center; }

.one-date {
  background: #009900;
  text-align: center;
  color: #FFF;
  width: 40px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  border-radius: 3px 3px 0 0; }

.one-month {
  background: #ccebcc;
  text-align: center;
  color: #009900;
  width: 40px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-radius: 0 0 3px 3px; }

.expertview-one-title {
  position: absolute;
  top: 2px;
  left: 70px;
  height: 20px;
  line-height: 20px;
  width: 330px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.expertview-one-content {
  position: absolute;
  top: 30px;
  left: 70px;
  right: 20px;
  font-size: 12px;
  color: #888888;
  height: 40px;
  overflow: hidden; }

.line_topic_tit {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #1a1a1a;
  border-bottom: 1px solid #015e49;
  padding-left: 10px; }

.line_topic_tit .more2 {
  float: right;
  font-size: 12px;
  color: #999;
  margin-right: 10px; }

.line_topic_tit .more2 a {
  font-size: 12px;
  color: #999;
  margin-right: 10px; }

.line_topic_tit .more2:hover a {
  color: #ff6900; }

/*技术培训*/
.content_base {
  background-color: #fff;
  padding: 0px 0px 15px 0px; }

#njsp_box {
  margin-top: 10px; }

#njsp_box_1 {
  width: 70%;
  float: left; }

#njsp_box_1 dt {
  height: 30px;
  border-bottom: 1px solid #d19434;
  margin: 0 auto 5px auto; }

#njsp_box_1 dt a {
  font-size: 16px;
  color: #1a1a1a;
  line-height: 16px;
  padding-left: 10px; }

#njsp_box_1 .move {
  float: right;
  font-size: 12px;
  color: #999;
  line-height: 30px;
  margin-right: 10px;
  font-family: "宋体"; }

#njsp_box_1 .move:hover {
  color: #ff6900; }

.njsp_text {
  float: left;
  width: 45.72%;
  margin: 10px 1% 10px 1%;
  padding: 10px 1%;
  border: 1px solid #d9d9d9;
  position: relative; }

.njsp_text:hover {
  border: 1px solid #d19434;
  box-shadow: 0 2px 4px #dab376; }

.fix_img {
  width: 34px;
  height: 43px;
  position: absolute;
  top: 0;
  right: 0px; }

.njsp_text_img {
  width: 30%;
  height: 100px;
  float: left;
  overflow: hidden; }

.njsp_text_img img {
  width: 100%;
  height: 100px; }

.njsp_text_content {
  float: right;
  width: 68%; }

.njsp_text_content a {
  font-size: 16px;
  color: #1a1a1a; }

.njsp_text_content p {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  font-family: "宋体"; }

.njsp_text_content span {
  margin-top: 5px;
  float: right;
  margin-right: 10px;
  font-size: 14px;
  color: #015e49; }

#njsp_box_2 {
  width: 28%;
  float: right; }

#njsp_box_2 dt {
  height: 30px;
  border-bottom: 1px solid #d19434;
  margin: 0 auto 5px auto; }

#njsp_box_2 dt a {
  font-size: 16px;
  color: #1a1a1a;
  line-height: 16px;
  padding-left: 10px; }

#njsp_box_2 .move {
  float: right;
  font-size: 12px;
  color: #999;
  line-height: 30px;
  margin-right: 10px;
  font-family: "宋体";
  cursor: pointer; }

#njsp_box_2 .move:hover {
  color: #ff6900; }

.wendang {
  margin-top: 15px; }

.wendang_up {
  width: 98%;
  margin: auto; }

.wendang_up_img {
  float: left;
  width: 30%;
  height: 70px;
  border-radius: 4px;
  overflow: hidden; }

.wendang_up_img img {
  width: 100%; }

.wendang_up_text {
  width: 68%;
  float: right; }

.wendang_up_text a {
  display: inline-block;
  font-size: 12px;
  color: #333;
  margin: 0 5px;
  font-family: "宋体"; }

.wendang_up_text span {
  color: #ff6900;
  margin-right: 2px; }

.wendang_up_text .wendang_up_text_1 {
  font-size: 16px;
  color: #1a1a1a;
  font-family: "微软雅黑"; }

.wendang_down {
  width: 96%;
  margin: 14px auto 0 auto;
  border: 1px solid #d9d9d9;
  padding-top: 5px; }

.wendang_down li {
  width: 96%;
  margin: auto;
  position: relative; }

.wendang_down img {
  margin-top: -11px;
  margin-left: 30px;
  position: absolute;
  top: 0px; }

.wendang_down h1 {
  margin-left: 2%;
  width: 6px;
  height: 6px;
  background-color: #999;
  margin-top: 10px;
  border-radius: 50%;
  float: left; }

.wendang_down a {
  float: left;
  margin-left: 2%;
  font-size: 14px;
  color: #333;
  line-height: 26px; }

.wendang_down li:hover a {
  color: #ff6900; }

/*# sourceMappingURL=style.css.map */
