<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>农业大数据智能分析平台</title>
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/css/unslider-dots.css}" rel="stylesheet"/>
	<link th:href="@{/css/unslider.css}" rel="stylesheet"/>
    <link th:href="@{/css/saved_resource.css}" rel="stylesheet"/> 
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/unslider-min.js}"></script>
	<script th:src="@{/js/mouseover.js}"></script>
</head>
<body>
<div class="dsj_container">
	<div class="dsj_nav1 clearfix">
		<div class="dsj_nav1_box" th:include="/fragments/header :: navBar">		
		</div>
	</div>
	<div class="dsj_banner">
		<div class="dsj_banner_box">
			<div class="unslider" id="b06">
				<div class="automatic-slider unslider-horizontal" style="position: relative; overflow: hidden;">
					<ul class="unslider-wrap unslider-carousel velocity-animating" style="width: 400%; left: -113.266%;">
						<li class="" style="width: 50%;position: relative;">
							<h6 class="scroll_text1">立足“互联网+农业大数据1</h6>
				      		<p class="scroll_text2">农业大数据平台全新上线</p>
							<img th:src="@{/images/bmp_banner_bg.png}" alt="" class="responsive"/>
						</li>
						<li class="" style="width: 50%;position: relative;">
							<h6 class="scroll_text1">立足“互联网+农业大数据2</h6>
				        	<p class="scroll_text2">农业大数据平台全新上线</p>
							<img th:src="@{/images/bmp_banner_bg.png}" alt="" class="responsive"/>
						</li>
						<li class="" style="width: 50%;position: relative;">
							<h6 class="scroll_text1">立足“互联网+农业大数据3</h6>
				      		<p class="scroll_text2">农业大数据平台全新上线</p>
							<img th:src="@{/images/bmp_banner_bg.png}" alt="" class="responsive"/>
						</li>
						<li class="" style="width: 50%;position: relative;">
							<h6 class="scroll_text1">立足“互联网+农业大数据4</h6>
				        	<p class="scroll_text2">农业大数据平台全新上线</p>
							<img th:src="@{/images/bmp_banner_bg.png}" alt="" class="responsive"/>
						</li>
					</ul>
				</div>
				<nav class="unslider-nav">
					<ol></ol>
				</nav>
				<script>
					$('.automatic-slider').unslider({
						autoplay: true
					});
				</script>
			</div>
		</div>
	</div>
	<div class="dsj_nav2">
		<ul>
			<li>
				<h6 class="text1">PB级数据资源</h6>
				<p class="text2">六大数据资源池</p>
			</li>
			<li>
				<h6 class="text1">精准数据服务</h6>
				<p class="text2">个性化精准推送</p>
			</li>
			<li>
				<h6 class="text1">立分行业领域</h6>
				<p class="text2">针对不同领域要求</p>
			</li>
			<li>
				<h6 class="text1">农业人工智能</h6>
				<p class="text2">智能语音问答</p>
			</li>
			<li>
				<h6 class="text1">海量专家知识资源</h6>
				<p class="text2">实时在线专家服务</p>
			</li>
		</ul>
	</div>
	<!-- 针对不同农业领域积累了海量数据资源 -->
	<div class="dsj_box1">
		<h1 class="dsj_title1">针对不同农业领域积累了海量数据资源</h1>
		<div class="sjzy_box">
			<ul class="sjzy_nav" id="tabs">
				<li class="active" id="sjzy_nav1"><a href="#">物联网感知数据资源池</a></li>
				<li id="sjzy_nav2"><a href="#">物联网设备接口资源池</a></li>
				<li id="sjzy_nav3"><a href="#">涉农网站互联网数据资源池</a></li>
				<li id="sjzy_nav4"><a href="#">用户大数据资源池<span>NEW</span></a></li>
			</ul>
			<div class="tab_conbox" id="tab_conbox">
				<div id="sjzy_content1">
					<dl class="sjzy_dl">
						<dt><img th:src="@{/images/img1/bmp.png}" alt=""/></dt>
						<dd>
							<h6 class="sjzy_tit1">物联网感知数据资源池</h6>
							<p class="sjzy_text1">
							容量为1024TB的农业大数据库储存了数据日增量大于1TB的包含农业物联网数据、物联网设备接口、涉农网站互联网数据、农业人员信息、大数据分析模型库、农情遥感数据的全领域农业信息化数据；支持多维度农情数据查询、个性化定制市场数据推送、热门分析模型推荐等数据接口功能。
							</p>
							<a href="#" class="ckxq">查看详情 ></a>
						</dd>
					</dl>
					<div class="clearfix"></div>
					<ul class="sjzy_list clearfix">
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_1.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">高规格数据中心1</h6>
								<p class="sjzy_text2">多项绿色数据中心技术创新，专业运维提升IT设施水平</p>
							</dd>
						</dl>
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_2.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">高效稳定的计算服务</h6>
								<p class="sjzy_text2">百度多年的集群管理，系统优化技术，提供极致稳定的计算能力<a href="" class="more">更多>></a></p>
							</dd>
						</dl>
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_3.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">可靠安全的存储服务</h6>
								<p class="sjzy_text2">多级数据存储解决方案，保障数据存储安全无忧<a href="" class="more">更多>></a></p>
							</dd>
						</dl>
					</ul>
				</div>
				<div id="sjzy_content2">
					<dl class="sjzy_dl">
						<dt><img th:src="@{/images/img1/bmp.png}" alt=""/></dt>
						<dd>
							<h6 class="sjzy_tit1">物联网设备接口资源池</h6>
							<p class="sjzy_text1">
							容量为1024TB的农业大数据库储存了数据日增量大于1TB的包含农业物联网数据、物联网设备接口、涉农网站互联网数据、农业人员信息、大数据分析模型库、农情遥感数据的全领域农业信息化数据；支持多维度农情数据查询、个性化定制市场数据推送、热门分析模型推荐等数据接口功能。
							</p>
							<a href="#" class="ckxq">查看详情 ></a>
						</dd>
					</dl>
					<div class="clearfix"></div>
					<ul class="sjzy_list clearfix">
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_1.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">高规格数据中心2</h6>
								<p class="sjzy_text2">多项绿色数据中心技术创新，专业运维提升IT设施水平</p>
							</dd>
						</dl>
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_2.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">高效稳定的计算服务</h6>
								<p class="sjzy_text2">百度多年的集群管理，系统优化技术，提供极致稳定的计算能力<a href="" class="more">更多>></a></p>
							</dd>
						</dl>
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_3.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">可靠安全的存储服务</h6>
								<p class="sjzy_text2">多级数据存储解决方案，保障数据存储安全无忧<a href="" class="more">更多>></a></p>
							</dd>
						</dl>
					</ul>
				</div>
				<div id="sjzy_content3">
					<dl class="sjzy_dl">
						<dt><img th:src="@{/images/img1/bmp.png}" alt=""/></dt>
						<dd>
							<h6 class="sjzy_tit1">涉农网站互联网数据资源池</h6>
							<p class="sjzy_text1">
							容量为1024TB的农业大数据库储存了数据日增量大于1TB的包含农业物联网数据、物联网设备接口、涉农网站互联网数据、农业人员信息、大数据分析模型库、农情遥感数据的全领域农业信息化数据；支持多维度农情数据查询、个性化定制市场数据推送、热门分析模型推荐等数据接口功能。
							</p>
							<a href="#" class="ckxq">查看详情 ></a>
						</dd>
					</dl>
					<div class="clearfix"></div>
					<ul class="sjzy_list clearfix">
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_1.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">高规格数据中心</h6>
								<p class="sjzy_text2">多项绿色数据中心技术创新，专业运维提升IT设施水平</p>
							</dd>
						</dl>
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_2.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">高效稳定的计算服务</h6>
								<p class="sjzy_text2">百度多年的集群管理，系统优化技术，提供极致稳定的计算能力<a href="" class="more">更多>></a></p>
							</dd>
						</dl>
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_3.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">可靠安全的存储服务</h6>
								<p class="sjzy_text2">多级数据存储解决方案，保障数据存储安全无忧<a href="" class="more">更多>></a></p>
							</dd>
						</dl>
					</ul>
				</div>
				<div id="sjzy_content4">
					<dl class="sjzy_dl">
						<dt><img th:src="@{/images/img1/bmp.png}" alt=""/></dt>
						<dd>
							<h6 class="sjzy_tit1">用户大数据资源池<span>NEW</span></h6>
							<p class="sjzy_text1">
							容量为1024TB的农业大数据库储存了数据日增量大于1TB的包含农业物联网数据、物联网设备接口、涉农网站互联网数据、农业人员信息、大数据分析模型库、农情遥感数据的全领域农业信息化数据；支持多维度农情数据查询、个性化定制市场数据推送、热门分析模型推荐等数据接口功能。
							</p>
							<a href="#" class="ckxq">查看详情 ></a>
						</dd>
					</dl>
					<div class="clearfix"></div>
					<ul class="sjzy_list clearfix">
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_1.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">高规格数据中心</h6>
								<p class="sjzy_text2">多项绿色数据中心技术创新，专业运维提升IT设施水平</p>
							</dd>
						</dl>
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_2.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">高效稳定的计算服务</h6>
								<p class="sjzy_text2">百度多年的集群管理，系统优化技术，提供极致稳定的计算能力<a href="" class="more">更多>></a></p>
							</dd>
						</dl>
						<dl class="ajzy_dl2">
							<dt><img th:src="@{/images/icon_img/icon1_3.png}" alt=""/></dt>
							<dd>
								<h6 class="sjzy_tit2">可靠安全的存储服务</h6>
								<p class="sjzy_text2">多级数据存储解决方案，保障数据存储安全无忧<a href="" class="more">更多>></a></p>
							</dd>
						</dl>
					</ul>
				</div>			
			</div>
		</div>
	</div>
	<!-- 面向行业和公共提供精准数据服务 -->
	<div class="dsj_box2">
		<h1 class="dsj_title1">面向行业和公共提供精准数据服务</h1>
		<div class="sjfw_box">
			<p class="left_btn prev"><img th:src="@{/images/icon_img/left_icon.png}" alt=""/></p>
			<div class="sjfw_content">
				<ul class="sjfw_list1">
					<li class="sjfw_li1" onmouseover="">
						<div class="sjfw_tit1">
							<h6>行业云服务111</h6>
							<p>行业云服务、流量和内容的资源服务</p>
						</div>
						<div class="subGroup">
							<div class="subGroup_box1 clearfix current">
								<dl class="products-main">
									<dt><img th:src="@{/images/icon_img/icon2_1.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
							<div class="subGroup_box1 clearfix">
								<dl class="products-main">
									<dt><img th:src="@{/images/icon_img/icon2_2.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
							<div class="subGroup_box1 clearfix border_none">
								<dl class="products-main clearfix">
									<dt><img th:src="@{/images/icon_img/icon2_3.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
						</div>
					</li>
					<li class="sjfw_li1">
						<div class="sjfw_tit1">
							<h6>行业云服务222</h6>
							<p>行业云服务、流量和内容的资源服务</p>
						</div>
						<div class="subGroup">
							<div class="subGroup_box1 clearfix current">
								<dl class="products-main">
									<dt><img th:src="@{/images/icon_img/icon2_4.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
							<div class="subGroup_box1 clearfix">
								<dl class="products-main">
									<dt><img th:src="@{/images/icon_img/icon2_5.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
							<div class="subGroup_box1 clearfix border_none">
								<dl class="products-main clearfix">
									<dt><img th:src="@{/images/icon_img/icon2_6.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
						</div>
					</li>
					<li class="sjfw_li1">
						<div class="sjfw_tit1">
							<h6>行业云服务333</h6>
							<p>行业云服务、流量和内容的资源服务</p>
						</div>
						<div class="subGroup">
							<div class="subGroup_box1 clearfix current">
								<dl class="products-main">
									<dt><img th:src="@{/images/icon_img/icon2_7.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
							<div class="subGroup_box1 clearfix">
								<dl class="products-main">
									<dt><img th:src="@{/images/icon_img/icon2_8.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
							<div class="subGroup_box1 clearfix border_none">
								<dl class="products-main clearfix">
									<dt><img th:src="@{/images/icon_img/icon2_9.png}" alt=""/></dt>
									<dd>
										<h4>云服务器 BCC</h4>
										<p>高性能、高可靠、安全稳定的弹性计算服务</p>
									</dd>
								</dl>
								<div class="more">
									<p>优惠：<span>免费使用</span> </p>
									<a href="#" >了解详情</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<p class="right_btn next"><img th:src="@{/images/icon_img/right_icon.png}" alt=""/></p>
		</div>
	</div>
	<!-- 解决方案 -->
	<div class="">
		<h1 class="dsj_title1">解决方案</h1>
		<div class="www-aliyun-com-home-solution" >
		    <div class="module-wrap J_tb_lazyload">
		        <div class="slide-container y-row" id="slide-container" style="height: 420px;">
		            <div class="slide-body" id="slide-body" style="height: 420px;">
		                <ul class="slide-content" id="slide-content">
		            		<li class="slide-item">
		            			<a href="#" target="_blank" style="display:block;height:100%;">
		              				<img class="item-bg" th:src="@{/images/bmp1.png}" alt=""/>
	              					<div class="mask">
	                					<div class="bg "></div>
						                <div class="content">
						                  <div class="item-img-panel" style="height: 72px;">
						                    <img th:src="@{/images/icon_img/icon3_1.png}" alt="" class="item-img"/>
						                    <img th:src="@{/images/icon_img/icon3_1.png}" alt="" class="item-img-hover"/>
						                  </div>
						                  <p class="line-panel">
						                    <i class="item-line"></i>
						                  </p>
						                  <h3 class="item-title">设施种植解决方案</h3>
						                  <p class="item-desc">
						                    设施种植解决方案设施种植解决方案设施种植解决方案设施种植解决方案
						                  </p>
						                  <span class="item-link">查看详情</span>
						                </div>
						             </div>
		            			</a>
		          			</li>
		          			<li class="slide-item">
		            			<a href="#" target="_blank" style="display:block;height:100%;">
		              				<img class="item-bg" th:src="@{/images/bmp2.png}" alt=""/>
	              					<div class="mask">
	                					<div class="bg "></div>
						                <div class="content">
						                  <div class="item-img-panel" style="height: 72px;">
						                    <img th:src="@{/images/icon_img/icon3_2.png}" alt="" class="item-img"/>
						                    <img th:src="@{/images/icon_img/icon3_2.png}" alt="" class="item-img-hover"/>
						                  </div>
						                  <p class="line-panel">
						                    <i class="item-line"></i>
						                  </p>
						                  <h3 class="item-title">大田水肥一体化解决方案</h3>
						                  <p class="item-desc">
						                    大田水肥一体化解决方案大田水肥一体化解决方案
						                  </p>
						                  <span class="item-link">查看详情</span>
						                </div>
						             </div>
		            			</a>
		          			</li>
		          			<li class="slide-item">
		            			<a href="#" target="_blank" style="display:block;height:100%;">
		              				<img class="item-bg" th:src="@{/images/bmp3.png}" alt=""/>
	              					<div class="mask">
	                					<div class="bg "></div>
						                <div class="content">
						                  <div class="item-img-panel" style="height: 72px;">
						                    <img th:src="@{/images/icon_img/icon3_3.png}" alt="" class="item-img"/>
						                    <img th:src="@{/images/icon_img/icon3_3.png}" alt="" class="item-img-hover"/>
						                  </div>
						                  <p class="line-panel">
						                    <i class="item-line"></i>
						                  </p>
						                  <h3 class="item-title">奶牛现代化养殖解决方案</h3>
						                  <p class="item-desc">
						                    奶牛现代化养殖解决方案奶牛现代化养殖解决方案奶牛现代化养殖解决方案
						                  </p>
						                  <span class="item-link">查看详情</span>
						                </div>
						             </div>
		            			</a>
		          			</li>
		          			<li class="slide-item">
		            			<a href="#" target="_blank" style="display:block;height:100%;">
		              				<img class="item-bg" th:src="@{/images/bmp4.png}" alt=""/>
	              					<div class="mask">
	                					<div class="bg "></div>
						                <div class="content">
						                  <div class="item-img-panel" style="height: 72px;">
						                    <img th:src="@{/images/icon_img/icon3_4.png}" alt="" class="item-img"/>
						                    <img th:src="@{/images/icon_img/icon3_4.png}" alt="" class="item-img-hover"/>
						                  </div>
						                  <p class="line-panel">
						                    <i class="item-line"></i>
						                  </p>
						                  <h3 class="item-title">林业智能化节水灌溉解决方案</h3>
						                  <p class="item-desc">
						                    林业智能化节水灌溉解决方案林业智能化节水灌溉解决方案
						                  </p>
						                  <span class="item-link">查看详情</span>
						                </div>
						             </div>
		            			</a>
		          			</li>
		          			<li class="slide-item">
		            			<a href="#" target="_blank" style="display:block;height:100%;">
		              				<img class="item-bg" th:src="@{/images/bmp5.png}" alt=""/>
	              					<div class="mask">
	                					<div class="bg "></div>
						                <div class="content">
						                  <div class="item-img-panel" style="height: 72px;">
						                    <img th:src="@{/images/icon_img/icon3_5.png}" alt="" class="item-img"/>
						                    <img th:src="@{/images/icon_img/icon3_5.png}" alt="" class="item-img-hover"/>
						                  </div>
						                  <p class="line-panel">
						                    <i class="item-line"></i>
						                  </p>
						                  <h3 class="item-title">渔业水产养殖灌溉解决方案</h3>
						                  <p class="item-desc">
						                    渔业水产养殖灌溉解决方案渔业水产养殖灌溉解决方案
						                  </p>
						                  <span class="item-link">查看详情</span>
						                </div>
						             </div>
		            			</a>
		          			</li>
		        		</ul>
		      		</div>
				    <div class="slide-btn-panel left-btn prev">
				        <div class="btn-bg"></div>
				        <button class="slide-btn left-btn" id="left-btn">
				          <i class="icon-arrow-left"><img th:src="@{/images/icon_img/left_icon1.png}" alt=""/></i>
				        </button>
				    </div>
				    <div class="slide-btn-panel right-btn next">
				        <div class="btn-bg"></div>
				        <button class="slide-btn right-btn" id="right-btn">
				          <i class="icon-arrow-right"><img th:src="@{/images/icon_img/right_icon1.png}" alt=""/></i>
				        </button>
				    </div>
		    	</div>
		    </div>
		</div>
	</div>
	<!-- 成熟专业的服务工具 -->
	<div class="dsj_box4">
		<h1 class="dsj_title1">成熟专业的服务工具</h1>
		<div class="fwgj_box">
			<div class="fwgj_left">
				<ul id="tabs2">
					<li class="active"><a href="#">大数据采集工具<span></span></a></li>
					<li><a href="#">大数据分析工具<span></span></a></li>
					<li><a href="#">各类专业系统<span></span></a></li>
					<li><a href="#">专业应用APP<span></span></a></li>
				</ul>
			</div>
			<div class="fwgj_right" id="tab_conbox2">
				<div id="fwgj_content1">
					<h6 class="fwgj_tit1">大数据采集工具</h6>
					<div class="fwgj_text">
						<p>1适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员</p>
					</div>
					<p class="ljxq_btn"><a href="#">了解详情></a></p>
					<p class="xgcp">相关产品：<span><a href="#">文本数据采集</a>、<a href="#">图片数据采集</a>、<a href="#">语音视频数据采集</a>、<a href="#">O2O|LBS数据采集</a></span></p>
				</div>
				<div id="fwgj_content2">
					<h6 class="fwgj_tit1">大数据分析工具</h6>
					<div class="fwgj_text">
						<p>2适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员</p>
					</div>
					<p class="ljxq_btn"><a href="#">了解详情></a></p>
					<p class="xgcp">相关产品：<span><a href="#">文本数据采集</a>、<a href="#">图片数据采集</a>、<a href="#">语音视频数据采集</a>、<a href="#">O2O|LBS数据采集</a></span></p>
				</div>
				<div id="fwgj_content3">
					<h6 class="fwgj_tit1">各类专业系统</h6>
					<div class="fwgj_text">
						<p>3适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员</p>
					</div>
					<p class="ljxq_btn"><a href="#">了解详情></a></p>
					<p class="xgcp">相关产品：<span><a href="#">文本数据采集</a>、<a href="#">图片数据采集</a>、<a href="#">语音视频数据采集</a>、<a href="#">O2O|LBS数据采集</a></span></p>
				</div>
				<div id="fwgj_content4">
					<h6 class="fwgj_tit1">专业应用APP</h6>
					<div class="fwgj_text">
						<p>4适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员适用于各种复杂场景数据采集的需求，海量众包用户定制化线下采集，涵盖图片、文本、语音、视频等全维度多媒体数据1万名专职外场数据采集员</p>
					</div>
					<p class="ljxq_btn"><a href="#">了解详情></a></p>
					<p class="xgcp">相关产品：<span><a href="#">文本数据采集</a>、<a href="#">图片数据采集</a>、<a href="#">语音视频数据采集</a>、<a href="#">O2O|LBS数据采集</a></span></p>
				</div>							
			</div>
		</div>
	</div>
	<!-- 大数据云服务中心分布 -->
	<div class="dsj_box5">
		<h1 class="dsj_title1">大数据云服务中心分布</h1>
		<div class="ffzx_box">
			<div class="ffzx_box_content">
				<div class="ffzx_left">
					<img th:src="@{/images/map_img1.png}" alt=""/>
				</div>
				<div class="ffzx_right">
					<div class="ffzx_text1">
						<h6 class="ffzx_tit1">北京大数据中心</h6>
						<p class="ffzx_p1">拥有超过15年的云计算数据中心运营管理服务经验，在全国拥有多个自建及合作的高等级云计算数据中心， 具有丰富的网络和带宽资源，可为客户提供IDC托管、服务器租用、整机柜租用、场地资源租用、服务器带宽、独享带宽、多线BGP资源、点对点专线、混合云服务、CDN加速和各类增值服务等。</p>
					</div>
					<div class="ffzx_text2">
						<h6 class="ffzx_tit1">河北大数据分中心</h6>
						<p class="ffzx_p1">拥有超过15年的云计算数据中心运营管理服务经验，在全国拥有多个自建及合作的高等级云计算数据中心， 具有丰富的网络和带宽资源，可为客户提供IDC托管、服务器租用、整机柜租用、场地资源租用、服务器带宽、独享带宽、多线BGP资源、点对点专线、混合云服务、CDN加速和各类增值服务等。</p>
					</div>
					<div class="ffzx_text3">
						<h6 class="ffzx_tit1">天津大数据分中心</h6>
						<p class="ffzx_p1">拥有超过15年的云计算数据中心运营管理服务经验，在全国拥有多个自建及合作的高等级云计算数据中心， 具有丰富的网络和带宽资源，可为客户提供IDC托管、服务器租用、整机柜租用、场地资源租用、服务器带宽、独享带宽、多线BGP资源、点对点专线、混合云服务、CDN加速和各类增值服务等。</p>
					</div>
					<div class="ffzx_text4">
						<h6 class="ffzx_tit1">河南大数据分中心</h6>
						<p class="ffzx_p1">拥有超过15年的云计算数据中心运营管理服务经验，在全国拥有多个自建及合作的高等级云计算数据中心， 具有丰富的网络和带宽资源，可为客户提供IDC托管、服务器租用、整机柜租用、场地资源租用、服务器带宽、独享带宽、多线BGP资源、点对点专线、混合云服务、CDN加速和各类增值服务等。</p>
					</div>
					<div class="ffzx_btn"><button>更多大数据中心</button></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 页脚 -->
	<div class="dsj_footer" th:include="/fragments/footer :: footer">
	</div>
</div>	
<script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.SuperSlide2.js}"></script>
<script type="text/javascript" th:src="@{/js/lunbo.js}"></script>
</body>
</html>